<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <a th:href="@{/admin/index}" class="brand-link">
        <img th:src="@{/admin/dist/img/logo-1.png}" alt="ssm-cluster Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">CARD MALL</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-header">Dashboard</li>
                <li class="nav-item">
                    <a th:href="@{/admin/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/cars/edit}" th:class="${path}=='cars-edit'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-plus"></i>
                        <p>Card Information</p>
                    </a>
                </li>
                <li class="nav-header">Home Page Configuration</li>
                <li class="nav-item">
                    <a th:href="@{/admin/carousels}"
                       th:class="${path}=='carb_mall_carousel'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-file-image-o"></i>
                        <p>Carousel Configuration</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/indexConfigs?configType=3}"
                       th:class="${path}=='INDEX_CARS_HOTS'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-hand-o-up"></i>
                        <p>Hot Cards Configuration</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/indexConfigs?configType=4}"
                       th:class="${path}=='INDEX_CARS_NEW'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-hand-o-up"></i>
                        <p>New Cards Configuration</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/indexConfigs?configType=5}"
                       th:class="${path}=='INDEX_CARS_RECOMMOND'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-hand-o-up"></i>
                        <p>Recommended Configuration</p>
                    </a>
                </li>
                <li class="nav-header">Management Module</li>
                <li class="nav-item">
                    <a th:href="@{/admin/categories?parentId=0&categoryLevel=1&backParentId=0}"
                       th:class="${path}=='carb_mall_category'?'nav-link active':'nav-link'">
                        <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
                        <p>Category Management</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/cars}" th:class="${path}=='carb_mall_cars'?'nav-link active':'nav-link'">
                        <i class="fa fa-archive nav-icon" aria-hidden="true"></i>
                        <p>Card Management</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/users}" th:class="${path}=='users'?'nav-link active':'nav-link'">
                        <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                        <p>Member Management</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/orders}" th:class="${path}=='orders'?'nav-link active':'nav-link'">
                        <i class="fa fa-money nav-icon" aria-hidden="true"></i>
                        <p>Order Management</p>
                    </a>
                </li>
                <li class="nav-header">System Management</li>
                <li class="nav-item">
                    <a th:href="@{/admin/profile}"
                       th:class="${path}=='profile'?'nav-link active':'nav-link'">
                        <i class="fa fa-user-secret nav-icon"></i>
                        <p>Change Password</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/logout}" class="nav-link">
                        <i class="fa fa-sign-out nav-icon"></i>
                        <p>Logout Safely</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</html>
