<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.carb.mall.dao.CarBMallOrderItemMapper">
    <resultMap id="BaseResultMap" type="ltd.carb.mall.entity.CarBMallOrderItem">
        <id column="order_item_id" jdbcType="BIGINT" property="orderItemId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="cars_id" jdbcType="BIGINT" property="carsId"/>
        <result column="cars_name" jdbcType="VARCHAR" property="carsName"/>
        <result column="cars_cover_img" jdbcType="VARCHAR" property="carsCoverImg"/>
        <result column="selling_price" jdbcType="INTEGER" property="sellingPrice"/>
        <result column="cars_count" jdbcType="INTEGER" property="carsCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    order_item_id, order_id, cars_id, cars_name, cars_cover_img, selling_price, cars_count,
    create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_carb_mall_order_item
        where order_item_id = #{orderItemId,jdbcType=BIGINT}
    </select>
    <select id="selectByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_carb_mall_order_item
        where order_id = #{orderItemId,jdbcType=BIGINT}
    </select>
    <select id="selectByOrderIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_carb_mall_order_item
        where order_id
        in
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_carb_mall_order_item
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </delete>
    <insert id="insertBatch" parameterType="ltd.carb.mall.entity.CarBMallOrderItem">
        insert into tb_carb_mall_order_item (order_id, cars_id,
        cars_name, cars_cover_img, selling_price,
        cars_count)
        values
        <foreach collection="orderItems" item="orderItem" separator=",">
            (#{orderItem.orderId,jdbcType=BIGINT}, #{orderItem.carsId,jdbcType=BIGINT},
            #{orderItem.carsName,jdbcType=VARCHAR}, #{orderItem.carsCoverImg,jdbcType=VARCHAR},
            #{orderItem.sellingPrice,jdbcType=INTEGER},
            #{orderItem.carsCount,jdbcType=INTEGER})
        </foreach>
    </insert>
    <insert id="insert" parameterType="ltd.carb.mall.entity.CarBMallOrderItem">
    insert into tb_carb_mall_order_item (order_item_id, order_id, cars_id,
      cars_name, cars_cover_img, selling_price,
      cars_count, create_time)
    values (#{orderItemId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{carsId,jdbcType=BIGINT},
      #{carsName,jdbcType=VARCHAR}, #{carsCoverImg,jdbcType=VARCHAR}, #{sellingPrice,jdbcType=INTEGER},
      #{carsCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="ltd.carb.mall.entity.CarBMallOrderItem">
        insert into tb_carb_mall_order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderItemId != null">
                order_item_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="carsId != null">
                cars_id,
            </if>
            <if test="carsName != null">
                cars_name,
            </if>
            <if test="carsCoverImg != null">
                cars_cover_img,
            </if>
            <if test="sellingPrice != null">
                selling_price,
            </if>
            <if test="carsCount != null">
                cars_count,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderItemId != null">
                #{orderItemId,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="carsId != null">
                #{carsId,jdbcType=BIGINT},
            </if>
            <if test="carsName != null">
                #{carsName,jdbcType=VARCHAR},
            </if>
            <if test="carsCoverImg != null">
                #{carsCoverImg,jdbcType=VARCHAR},
            </if>
            <if test="sellingPrice != null">
                #{sellingPrice,jdbcType=INTEGER},
            </if>
            <if test="carsCount != null">
                #{carsCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ltd.carb.mall.entity.CarBMallOrderItem">
        update tb_carb_mall_order_item
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="carsId != null">
                cars_id = #{carsId,jdbcType=BIGINT},
            </if>
            <if test="carsName != null">
                cars_name = #{carsName,jdbcType=VARCHAR},
            </if>
            <if test="carsCoverImg != null">
                cars_cover_img = #{carsCoverImg,jdbcType=VARCHAR},
            </if>
            <if test="sellingPrice != null">
                selling_price = #{sellingPrice,jdbcType=INTEGER},
            </if>
            <if test="carsCount != null">
                cars_count = #{carsCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where order_item_id = #{orderItemId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="ltd.carb.mall.entity.CarBMallOrderItem">
    update tb_carb_mall_order_item
    set order_id = #{orderId,jdbcType=BIGINT},
      cars_id = #{carsId,jdbcType=BIGINT},
      cars_name = #{carsName,jdbcType=VARCHAR},
      cars_cover_img = #{carsCoverImg,jdbcType=VARCHAR},
      selling_price = #{sellingPrice,jdbcType=INTEGER},
      cars_count = #{carsCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </update>
</mapper>